.pageTitle{
  
    margin: 21px 0px 10px;
    text-align: center;
  
    font-size: 26px;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif;
    color : #252525;
}

.para{
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    color : #252525;

}

.progress{
    padding:20px;
    display:flex;
    justify-content: space-around;
}